<%- include("partials/header") -%>

<h1>Home</h1>

<p>
  <%= homeParagraph %>
</p>

<% for (post in posts) { %>
  <p>
    <%= posts[post].content %>
  </p>
<% } %>

<%- include("partials/footer") -%>
